* {
  margin: 0;
  padding: 0;
}

header {
  font-family: "Monofett", cursive;
  text-align: center;
  color: black;
  background-color: #c5efcb;
  font-size: 100%;
}

h2 {
  font-family: "Chivo", sans-serif;
}

.burgers {
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 100px;
  background-color: #cf5c36;
  border: 20px solid tan;
}

li {
  padding: 5px;
  margin: 5px;
  display: inline;
}

form {
  margin: 0 auto;
  width: 50%;
  margin-top: 50px;
  text-align: center;
  font-family: "Chivo", sans-serif;
}

.secondRow {
  margin-top: 100px;
  font-family: "Permanent Marker", cursive;
}
